In [15]:
import glob
import pandas as pd
import numpy as np

In [ ]:


files = sorted(glob.glob("atp_matches_20[0-9][0-9].csv"))  # matches 2000..2099 only
print("Year files found:", len(files))
print(files)

df_all = pd.concat((pd.read_csv(f) for f in files), ignore_index=True)
print("Merged shape:", df_all.shape)

df_all.to_csv("atp_matches_2000_2019_merged.csv", index=False)
print("Saved: atp_matches_2000_2019_merged.csv")

Year files found: 20
['atp_matches_2000.csv', 'atp_matches_2001.csv', 'atp_matches_2002.csv', 'atp_matches_2003.csv', 'atp_matches_2004.csv', 'atp_matches_2005.csv', 'atp_matches_2006.csv', 'atp_matches_2007.csv', 'atp_matches_2008.csv', 'atp_matches_2009.csv', 'atp_matches_2010.csv', 'atp_matches_2011.csv', 'atp_matches_2012.csv', 'atp_matches_2013.csv', 'atp_matches_2014.csv', 'atp_matches_2015.csv', 'atp_matches_2016.csv', 'atp_matches_2017.csv', 'atp_matches_2018.csv', 'atp_matches_2019.csv']
Merged shape: (59430, 32)
Saved: atp_matches_2000_2019_merged.csv

In [12]:
print(min(files), "->", max(files))

atp_matches_2000.csv -> atp_matches_2019.csv

In [8]:
df_all.head()

,tourney_id,tourney_name,tourney_date,surface,winner_id,loser_id,score,best_of,round,minutes,...,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points
0,2000-339,Adelaide,20000103,Hard,102358,103096,6-3 6-4,3,R32,76.0,...,37.0,25.0,13.0,9.0,2.0,4.0,4.0,1850.0,56.0,490.0
1,2000-339,Adelaide,20000103,Hard,103819,102533,6-1 6-4,3,R32,45.0,...,15.0,13.0,12.0,8.0,0.0,3.0,64.0,515.0,91.0,404.0
2,2000-339,Adelaide,20000103,Hard,102998,101885,3-6 7-6(5) 6-4,3,R32,115.0,...,59.0,49.0,22.0,16.0,4.0,5.0,58.0,544.0,105.0,243.0
3,2000-339,Adelaide,20000103,Hard,103206,102776,6-2 6-1,3,R32,65.0,...,22.0,12.0,8.0,8.0,1.0,6.0,27.0,928.0,54.0,602.0
4,2000-339,Adelaide,20000103,Hard,102796,102401,6-4 6-4,3,R32,68.0,...,40.0,25.0,16.0,10.0,7.0,10.0,15.0,1244.0,154.0,219.0

In [9]:
df_all.columns

Index(['tourney_id', 'tourney_name', 'tourney_date', 'surface', 'winner_id',
       'loser_id', 'score', 'best_of', 'round', 'minutes', 'w_ace', 'w_df',
       'w_svpt', 'w_1stIn', 'w_1stWon', 'w_2ndWon', 'w_SvGms', 'w_bpSaved',
       'w_bpFaced', 'l_ace', 'l_df', 'l_svpt', 'l_1stIn', 'l_1stWon',
       'l_2ndWon', 'l_SvGms', 'l_bpSaved', 'l_bpFaced', 'winner_rank',
       'winner_rank_points', 'loser_rank', 'loser_rank_points'],
      dtype='object')

In [11]:
df_all.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59430 entries, 0 to 59429
Data columns (total 32 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   tourney_id          59430 non-null  object
 1   tourney_name        59430 non-null  object
 2   tourney_date        59430 non-null  int64
 3   surface             59232 non-null  object
 4   winner_id           59430 non-null  int64
 5   loser_id            59430 non-null  int64
 6   score               59429 non-null  object
 7   best_of             59430 non-null  int64
 8   round               59430 non-null  object
 9   minutes             52431 non-null  float64
 10  w_ace               53749 non-null  float64
 11  w_df                53749 non-null  float64
 12  w_svpt              53749 non-null  float64
 13  w_1stIn             53749 non-null  float64
 14  w_1stWon            53749 non-null  float64
 15  w_2ndWon            53749 non-null  float64
 16  w_SvGms             53749 non-null  float64
 17  w_bpSaved           53749 non-null  float64
 18  w_bpFaced           53749 non-null  float64
 19  l_ace               53749 non-null  float64
 20  l_df                53749 non-null  float64
 21  l_svpt              53749 non-null  float64
 22  l_1stIn             53749 non-null  float64
 23  l_1stWon            53749 non-null  float64
 24  l_2ndWon            53749 non-null  float64
 25  l_SvGms             53749 non-null  float64
 26  l_bpSaved           53749 non-null  float64
 27  l_bpFaced           53749 non-null  float64
 28  winner_rank         58932 non-null  float64
 29  winner_rank_points  58932 non-null  float64
 30  loser_rank          58161 non-null  float64
 31  loser_rank_points   58161 non-null  float64
dtypes: float64(23), int64(4), object(5)
memory usage: 14.5+ MB

In [16]:


df = pd.read_csv("atp_matches_2000_2019_merged.csv")  # or atp_matches_merged.csv
print(df.shape)
print(df.columns[:25])

(59430, 32)
Index(['tourney_id', 'tourney_name', 'tourney_date', 'surface', 'winner_id',
       'loser_id', 'score', 'best_of', 'round', 'minutes', 'w_ace', 'w_df',
       'w_svpt', 'w_1stIn', 'w_1stWon', 'w_2ndWon', 'w_SvGms', 'w_bpSaved',
       'w_bpFaced', 'l_ace', 'l_df', 'l_svpt', 'l_1stIn', 'l_1stWon',
       'l_2ndWon'],
      dtype='object')

In [19]:
print(df.columns.tolist())

# quick search for rank-related columns
rank_cols = [c for c in df.columns if "rank" in c.lower()]
level_cols = [c for c in df.columns if "level" in c.lower()]
print("Rank columns:", rank_cols)
print("Level columns:", level_cols)

['tourney_id', 'tourney_name', 'tourney_date', 'surface', 'winner_id', 'loser_id', 'score', 'best_of', 'round', 'minutes', 'w_ace', 'w_df', 'w_svpt', 'w_1stIn', 'w_1stWon', 'w_2ndWon', 'w_SvGms', 'w_bpSaved', 'w_bpFaced', 'l_ace', 'l_df', 'l_svpt', 'l_1stIn', 'l_1stWon', 'l_2ndWon', 'l_SvGms', 'l_bpSaved', 'l_bpFaced', 'winner_rank', 'winner_rank_points', 'loser_rank', 'loser_rank_points']
Rank columns: ['winner_rank', 'winner_rank_points', 'loser_rank', 'loser_rank_points']
Level columns: []

In [20]:
print(df.columns[-10:])

Index(['l_1stIn', 'l_1stWon', 'l_2ndWon', 'l_SvGms', 'l_bpSaved', 'l_bpFaced',
       'winner_rank', 'winner_rank_points', 'loser_rank', 'loser_rank_points'],
      dtype='object')

In [21]:
use_cols = [
    "surface", "round", "best_of",
    "winner_rank", "loser_rank",
    "winner_rank_points", "loser_rank_points"
]
df2 = df[use_cols].copy()

In [22]:
df2 = df2.dropna(subset=["winner_rank", "loser_rank"])

In [23]:
df2

,surface,round,best_of,winner_rank,loser_rank,winner_rank_points,loser_rank_points
0,Hard,R32,3,4.0,56.0,1850.0,490.0
1,Hard,R32,3,64.0,91.0,515.0,404.0
2,Hard,R32,3,58.0,105.0,544.0,243.0
3,Hard,R32,3,27.0,54.0,928.0,602.0
4,Hard,R32,3,15.0,154.0,1244.0,219.0
...,...,...,...,...,...,...,...
59425,Clay,QF,3,92.0,55.0,620.0,895.0
59426,Clay,QF,3,108.0,95.0,527.0,600.0
59427,Clay,SF,3,48.0,37.0,975.0,1127.0
59428,Clay,SF,3,92.0,108.0,620.0,527.0
59429,Clay,F,3,48.0,92.0,975.0,620.0

In [24]:

for c in ["winner_rank", "loser_rank", "winner_rank_points", "loser_rank_points"]:
    df2[c] = pd.to_numeric(df2[c], errors="coerce")

df2 = df2.dropna(subset=["winner_rank", "loser_rank"])

# Target: 1 if higher-ranked player won
df2["target"] = (df2["winner_rank"] < df2["loser_rank"]).astype(int)

# Helpful engineered features
df2["rank_gap"] = (df2["winner_rank"] - df2["loser_rank"]).abs()
df2["points_gap"] = (df2["winner_rank_points"] - df2["loser_rank_points"]).abs()

print(df2.shape)
print(df2["target"].value_counts(normalize=True))
df2.head()

(57913, 10)
target
1    0.660163
0    0.339837
Name: proportion, dtype: float64

,surface,round,best_of,winner_rank,loser_rank,winner_rank_points,loser_rank_points,target,rank_gap,points_gap
0,Hard,R32,3,4.0,56.0,1850.0,490.0,1,52.0,1360.0
1,Hard,R32,3,64.0,91.0,515.0,404.0,1,27.0,111.0
2,Hard,R32,3,58.0,105.0,544.0,243.0,1,47.0,301.0
3,Hard,R32,3,27.0,54.0,928.0,602.0,1,27.0,326.0
4,Hard,R32,3,15.0,154.0,1244.0,219.0,1,139.0,1025.0

In [25]:
from sklearn.model_selection import train_test_split
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.pipeline import Pipeline
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import confusion_matrix, classification_report